# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
# Python (au cas où)
__pycache__/
*.pyc
.venv/
.terraform/
*.tfstate
*.tfstate.*
